<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">{{title}}</h1>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">{{imagetitle}}</h1>
        <img class="rounded-circle" [src] = "imageUrl" style=" display: block; margin-left: auto; margin-right: auto;width: 700px; height:400px;">
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12 text-center">
       <button class="btn btn-primary" (click)="onClick()">Click</button>
        <h1 class="text-center">{{message}}</h1>
      </div>
    </div>
  </div>
  <h1 class="text-center">Displaying json data using data binding</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let student of studentDetails">
          <td>{{student.id}}</td>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.gender}}</td>
        </tr>
      </tbody>
    </table>
</div>

<router-outlet></router-outlet>